export * from './<%= dasherize(viewComponentName) %>-design.component';
export * from "./<%= dasherize(viewComponentName) %>-design.model";
export * from './<%= dasherize(viewComponentName) %>-design.module';
